.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: rgb(243, 243, 243);
    max-width: 100%;
    min-height: 100%;
}

.content-box {
    display: block;
    font-size: 17px;
    max-width: 50%;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
}

.tiles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-box {
    display: flex;
    position: relative;
    margin: 20px;
    max-width: 500px;
    border: 4px outset rgb(0, 0, 0);
    max-height: 244px;
}

.picture-box img {
    position: relative;
    max-width: 350px;
    outline: 1px black solid;
}

.picture-box:hover img {
    transition: 0.2s;
    filter: blur(2px);
}

.picture-box:hover {
    transition: 0.2s;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.9);
    border: 4px inset rgb(0, 0, 0);
    outline: 3px groove rgb(243, 243, 0);
}

.picture-box:hover .caption,
.picture-box {
    filter: none;
}

.picture-box .caption {
    z-index: 1;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: fit-content;
    transform: translate(-50%, -50%);
    color: yellow;
    white-space: nowrap;
    text-shadow: 2px 2px 4px red, 0 0 1em rgb(0, 0, 0), 0 0 0.3em rgb(123, 0, 255);
    font-size: 42px;
}

.picture-box:hover .caption {
    transition: 0.2s;
    text-shadow: 2px 2px 4px red, 0 0 1em rgb(0, 0, 0), 6px 10px 16px rgb(0, 0, 0);
}