body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.login-container {
    width: 600px;
    height: fit-content;
    background-color: #fff;
    border: 1px solid #aaa795;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-form {
    padding: 20px;
}

h1 {
    font-size: clamp(21px,4vw,24px);
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: clamp(10px,3vw,20px);
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    margin-bottom: 5px;
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-size: 15px;
    width: auto;
    padding: 10px;
    padding-left: clamp(15px,5vw,35px);
    padding-right: clamp(15px,5vw,35px);
    background-color: #ffea00;
    color: #000000;
    border: solid 1px #000000;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.form-error{
    margin-top: 0;
    font-size: clamp(13px,2vw,15px);
    color: red;
    font-weight: bold;
}
.form-success{
    margin-top: 0;
    font-size: clamp(14px,2vw,16px);
    color: green;
    font-weight: bold;
    margin-bottom: 0px;
}
/* #link{
    display: block; 
    text-align: center; 
    justify-content: center; 
    color: black; 
    font-weight: bold; 
    margin-bottom: 15px;
} */

button:hover {
    outline: 1px solid #000000;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.reset-password,.register-link, .login-link{
    font-weight: bold;
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none; /* Anulowanie podkreślenia linku */
    color: #000000;
}

.reset-password:hover,
.register-link:hover, .login-link:hover{
    color: black;
    text-decoration: underline;
}

