html {
    font-family: Arial, sans-serif;
    font-size: 15px;
}
body{
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}
a:link, a:visited{
    text-decoration: none;
    color: black;
}
.navbar {
    height: 20px;
    background-color: #f0c000;
    font-size: clamp(15px,2vw,19px);
    display: flex;
    font-weight: bold;
    padding: clamp(10px,2vw,15px);
    position: sticky;
    top: 0px;
    justify-content: space-between;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    z-index: 5;
}
.navbar a {
    color: #000000;
    text-align: left;
}
.navbar a:hover{
    color: #be0000;
}

.profile-link:hover{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px rgba(162, 0, 0, 0.456);
}

.title-header{
    width: auto;
    font-size: clamp(16px, 2vw,24px);
    color:rgb(25, 25, 25);
    background-color: rgb(234, 234, 234);
    padding-bottom: 10px;
    pointer-events: none;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    justify-content:center;
    text-align: center;
    align-content: center;
}

.title-header h1{
    font-weight: bold; 
    font-size: clamp(28px,2vw,40px); 
    margin-top:0px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
    padding-top: 20px; 
    padding-bottom: 20px;
    background-color: rgb(243, 243, 243);
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
    justify-content:center;
}

.loggedin{
    display: flex;
    text-align: right;
    justify-content: center;
}
.loggedout{
    display: flex;
    text-align: left;
    justify-content: left;
}
.loggedout a{
    margin-left: clamp(10px,1vw,20px);
}
.loggedin a{
    margin-right: clamp(10px,1vw,20px);
}

.title-header{
    width: auto;
    font-size: clamp(16px, 2vw,24px);
    color:rgb(25, 25, 25);
    background-color: rgb(234, 234, 234);
    padding-bottom: 10px;
    pointer-events: none;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    justify-content:center;
    text-align: center;
    align-content: center;
}
.title-header h1{
    font-weight: bold; 
    font-size: clamp(28px,2vw,36px); 
    margin-top:0px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo img{
    background-image: url("img/AuctionHammer.png");
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    margin: auto;
    max-width: clamp(100px,100%, 200px);
}
.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    z-index: -1;
}