.profile-header{
    background-color: rgb(166, 166, 166);
    min-height: 300px;
    max-width: 900px;
    display: flex;
    position:relative;
    z-index: 0;
    margin: auto;
    margin-top: 50px;
    align-items: flex-end;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.4);
    outline: 1px solid black;
    border-bottom: rgb(255, 247, 0) inset 10px;
}
.profile-picture{
   height: 125px;
   width: 125px; 
   background-color: white;
   display: flex;
   margin: 20px;
   margin-left: 35px;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
   border: groove 4px rgb(0, 0, 0);
   border-style:outset;
}
.profile-info{
    background-color: rgb(230, 230, 230);
    min-height: 300px;
    max-width: 900px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    margin: auto;
    margin-bottom: 50px;
    display: grid;
    position:relative;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom:1px solid;
}
.current-auctions{
    background-color: aliceblue;
    min-height: fit-content;
    min-width: 800px;
    margin:auto;
    display: flex;
    border: 1px solid black;
}
.auctions-history{
    background-color: aliceblue;
    min-height: fit-content;
    min-width: 800px;
    margin:auto;
    display: flex;
    border: 1px solid black;
}

#username{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 26px;
    color:rgb(27, 27, 27);
    font-weight: lighter;
    margin-bottom: 20px;
    margin-left: 15px;
}

.edit-profile-button{
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 5px;
    font-weight: bold;
    background-color: yellow;
    outline: outset rgb(116, 116, 116) 2px;
}

.title{
    text-align: center;
    padding-top: 25px;
    margin: auto;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

.created-auctions{
    display: grid;
    justify-content: center;
    margin: auto;
    padding: 10px;
    width: 90%;
    border-top: solid thin rgb(135, 135, 135);
}

.auction{
    display: grid;
    text-align: center;
    align-items: center;
    margin: auto;   
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(250, 250, 250);
    min-width: 650px;
    max-width: 700px;
    min-height: 50px;
    outline: black 1px solid;
    border-top: groove 3px rgb(183, 183, 183);
    border-bottom: groove 3px rgb(183, 183, 183);
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    height: fit-content;
}

.auction:hover{
    box-shadow: 0px 2px 10px rgb(49, 49, 49);
}

.element{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;  
    margin:0px;
    border-right: solid thin rgb(135, 135, 135);
    font-weight: bold;
    height: 100%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

}
.tab{
    display: grid;
}
.auction-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.current-price{
    color: rgb(65, 0, 0);
}
.asking-price{
    color: rgb(86, 86, 86);
}

.timer{
    color: darkred;
}

.auction-title,
.current-price,
.asking-price,
.timer {
  margin-top: 0px;
  margin-bottom: 0px;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 999;
}


.edit-form {
    display: grid;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #aaa795;
    z-index: 1000;
    align-items: center;
    justify-items: center; 
}


.overlay button{
    padding: 5px;
    font-weight: bold;
    background-color: yellow;
    outline: outset rgb(116, 116, 116) 2px;
    max-width: fit-content;
}

button:hover{
    outline: inset rgb(116, 116, 116) 2px;
    background-color: rgb(246, 246, 0);
}